.attribution {
    font-size: 11px;
    text-align: center;
    background-color: hsl(215, 32%, 27%);
    color: aliceblue;
    width: 340px;
    margin: auto;
    padding: 20px 0;
    border-radius: 10px;
    box-shadow: 0 14px 18px 0 rgba(0, 0, 0, 0.2), 0 16px 30px 0 rgba(0, 0, 0, 0.19);
}

.attribution a {
    color: hsl(178, 100%, 50%);
}

* {
    margin: 0;
    padding: 0;
    /* background-color: hsl(217, 54%, 11%); */
}

.container {
    background-color: hsl(217, 54%, 11%);
    padding-top: 50px;
    height: 100%;
    width: 375px;
    margin: auto;
    padding-bottom: 50px;
    padding-bottom: 137px;
    /* width: 1440px; */
}

.main {
    background-color: hsl(215, 32%, 27%);
    border-radius: 10px;
    padding-top: 20px;
    width: 340px;
    margin: auto;
    box-shadow: 0 14px 18px 0 rgba(0, 0, 0, 0.2), 0 16px 30px 0 rgba(0, 0, 0, 0.19);
}

.img-1>img {
    display: flex;
    justify-content: center;
    cursor: pointer;
    border-radius: 10px;
    width: 300px;
    margin: auto;
}

.img-1 {
    position: relative;
    width: 300px;
    margin: auto;
}

.bg {
    width: 300px;
    height: 300px;
    border-radius: 10px;
    background: hsl(178, 100%, 50%);
    position: absolute;
    margin-left: 0.5px;
    top: 0.5px;
    opacity: 0;
}

.pic {
    position: absolute;
    margin-left: 125px;
    top: 125px;
    width: 50px;
    height: 50px;
    background: url(images/icon-view.svg) no-repeat;
    opacity: 0;
}

.img-1:hover .pic {
    cursor: pointer;
    opacity: 1;
}

.img-1:hover .bg {
    cursor: pointer;
    opacity: 0.5;
}


/*
.img-1:hover {
    cursor: pointer;
    background-image: url(images/icon-view.svg);
    background-repeat: no-repeat;
    z-index: 1000;
}

.pic {
    width: 40px;
    height: 40px;
    background: url(mages/icon-view.svg);
}

.pic:hover {
    opacity: 0.6;
} */

.description {
    padding-top: 20px;
    width: 300px;
    margin: auto;
}

.description>h2 {
    color: hsl(0, 0%, 100%);
}

.description>h2:hover {
    cursor: pointer;
    color: hsl(178, 100%, 50%);
}

.description>p {
    color: hsl(215, 51%, 70%);
    padding-top: 20px;
    padding-right: 10px;
    line-height: 30px;
    Font-size: 18px
}

.stats {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    width: 300px;
    margin: auto;
}

.value {
    display: flex;
    color: hsl(178, 100%, 50%);
}

.value>p {
    padding-left: 10px;
}

.time {
    display: flex;
    color: hsl(215, 51%, 70%);
}

.time>p {
    padding-left: 10px;
}

hr {
    color: hsl(215, 51%, 70%);
    width: 300px;
    margin: auto;
}

footer {
    display: flex;
    align-items: center;
    margin: 20px;
    padding-bottom: 20px;
}

footer>img {
    width: 40px;
    border: 5px solid hsl(178, 100%, 50%);
    border-radius: 50px;
}

footer>p {
    padding-left: 20px;
    color: hsl(215, 51%, 70%);
}

span {
    color: hsl(0, 0%, 100%);
}

span:hover {
    cursor: pointer;
    color: hsl(178, 100%, 50%);
}

@media screen and (min-width: 992px) {
    .container {
        background-color: hsl(217, 54%, 11%);
        /* padding-top: 50px;*/
        width: 1280px;
        /*margin: auto;
        padding-bottom: 50px; */
    }
}